// 将无法加载的图片换成默认图片
function changeImageSrc(src) {
  if (!src) {
    return '/assets/img/default_user.jpg';
  }
  if (src.indexOf('?w=') !== -1) {
    return '/assets/img/default_user.jpg';
  } else if (src.indexOf('user-gold-cdn.xitu.io') !== -1) {
    return '/assets/img/default_user.jpg';
  } else {
    return src;
  }
};

function changeIndexImageSrc(src) {
  if (!src) {
    return '/assets/img/ic_login_logo.png';
  }
  if (src.indexOf('?w=') !== -1) {
    return '/assets/img/ic_login_logo.png';
  } else {
    return src;
  }
};

// 显示数组中的前两个
function showTwoTags(arr, tag, str) {
    var tArr = arr || [];
    tArr = tArr.slice(0, 2).map(function (item) {
      return item[tag];
    });

    return tArr.join(str);
}

// 时间
var timeTransform = function (date) {
  if (!date) {
    return '';
  }

  var dvalue = parseInt(getDate().getTime()) - parseInt(getDate(date).getTime())

  var minTime = 60 * 1000;
  var hourTime = 60 * minTime;
  var dayTime = 24 * hourTime;
  var monthTime = 30 * dayTime;
  var yearTime = 12 * monthTime;

  if (dvalue < minTime) {
    return '刚刚';
  } else if (dvalue >= minTime && dvalue < hourTime) {
    return parseInt(dvalue / minTime) + '分钟前';
  } else if (dvalue >= hourTime && dvalue < dayTime) {
    return parseInt(dvalue / hourTime) + '小时前';
  } else if (dvalue >= dayTime && dvalue < monthTime) {
    return parseInt(dvalue / dayTime) + '天前';
  } else if (dvalue >= monthTime && dvalue < yearTime) {
    return parseInt(dvalue / monthTime) + '月前';
  } else if (dvalue >= yearTime) {
    return parseInt(dvalue / yearTime) + '年前';
  }
}


module.exports = {
  changeImageSrc: changeImageSrc,
  changeIndexImageSrc: changeIndexImageSrc,
  showTwoTags: showTwoTags,
  timeTransform: timeTransform
};